<article class="post post-content">
    <p>{{ content }}</p>
    <div class="info">
        submitted {{ daysAgo }} ago by {{ author }}
        {{# if isAuthor}}
            | <a href="#/delete-comment/:{{ postId }}/:{{ _id }}" class="deleteLink">delete</a>
        {{/if}}
    </div>
</article>