{{> header}}
<div class="content">
    {{> menu }}
    <section id="viewComments">
        <div class="post">
            <div class="col thumbnail">
                <a href="{{ imageUrl }}">
                    <img src="{{ imageUrl }}">
                </a>
            </div>
            <div class="post-content">
                <div class="title">
                    <a href="{{ url }}">
                        {{ title }}
                    </a>
                </div>
                <div class="details">
                    <p>{{ description }}</p>
                    <div class="info">
                        submitted {{ daysAgo }} ago by {{ author }}
                    </div>
                    {{# if isAuthor}}
                        <div class="controls">
                            <ul>
                                <li class="action"><a class="editLink" href="#/edit-post/:{{ postId }}">edit</a></li>
                                <li class="action"><a class="deleteLink" href="#/delete-post/:{{ postId }}">delete</a></li>
                            </ul>
                        </div>
                    {{/if}}
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="post post-content">
            {{> commentForm}}
        </div>
        {{#each comments}}
            {{> comment}}
        {{else}}
            No comments in database
        {{/each}}
    </section>
</div>
{{> footer}}